# disable directory browsing
Options -Indexes

RewriteEngine on

# prevent access to .svn folders
RewriteRule ^(.*/)?\.svn/ - [F,L]
ErrorDocument 403 ":-)

RewriteCond $1 !^(index\.php|images|css|js|user_guide)
RewriteRule ^(.*)$ index.php/$1 [L]